<%= form_with(model: [@list, @item], remote: true) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label :description, 'Descripción', class: 'label' %>
      <%= f.text_area :description, class: 'textarea', rows: '3' %>
    </div>
  </div>
  <%= f.submit "Guardar", class:"button is-primary" %>
<% end %>
